VITE_FIREBASE_API_KEY=your-web-api-key
VITE_FIREBASE_AUTH_DOMAIN=smart-ecom-d4bfa.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=smart-ecom-d4bfa
VITE_FIREBASE_STORAGE_BUCKET=smart-ecom-d4bfa.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1010609647966
VITE_FIREBASE_APP_ID=your-web-app-id
VITE_FIREBASE_MEASUREMENT_ID=your-measurement-id
